html {
  font-size: 50%;
}

.container {
  width: 100%;
  padding-left: 6rem;
  orphans: 3;
  widows: 3;
}


.toc > ul > li {
  position: relative;
  overflow: hidden;
}

.toc span {
  display: block;
  float: right;
  font-weight: bold;
  z-index: -2;
  padding: 0 1rem;
  margin-right: -.5rem;
  background: #fff;
}

.toc > ul > li > a {
  background: #fff;
  padding-right: .5rem;
}

.toc > ul > li:after {
  position: absolute;
  top: 0;
  left: 3rem;
  right: 2rem;
  white-space: nowrap;
  z-index: -1;
  font-weight: bold;
  content:
     "· · · · · · · · · · · · · · · · · · · · · · · · "
     "· · · · · · · · · · · · · · · · · · · · · · · · "
     "· · · · · · · · · · · · · · · · · · · · · · · · "
     "· · · · · · · · · · · · · · · · · · · · · · · · "
     "· · · · · · · · · · · · · · · · · · · · · · · · "
     "· · · · · · · · · · · · · · · · · · · · · · · · ";
}

table, img, .admonition, .no-page-break {
  page-break-inside: avoid;
}

h2 {
  font-size: 3rem;
  page-break-before: always;
}

h3, h4 {
  page-break-after: avoid;
}

h3 {
  margin-top: 3rem;
}

h2:before, h3:before, h4:before {
  color: #ccc;
}

abbr[title] {
  border-bottom: 0;
}

code {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 90%;
}

a {
  color: inherit;
}

.userguide strong + code {
  margin-left: .6rem;
}

.userguide .admonition p code:first-child, 
.userguide .admonition li code:first-child, 
.userguide .admonition dt code:first-child {
  margin-left: 0;
}

a.print-url:after {
  content: ' (' attr(href) ')';
  font-weight: normal;
  color: #ccc;
}
